@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  display: block;
  text-decoration: none;
  color: #333;
}
ul,
li {
  list-style: none;
}
/* 모달창 */
/* 전체 영역 */
.wrap {
  width: 1200px;
  height: 700px;
  background-color: antiquewhite;
  margin: auto;
}
/* 상단 */
.header {
  width: 1200px;
  height: 100px;
  display: flex;
  background-color: aqua;
}
/* 로고 */
.logo {
  width: 200px;
  height: 100%;
  line-height: 100px;
  text-align: center;
  background-color: bisque;
  padding: 10px;
}
.logo a img {
  width: 100%;
}
/* 메뉴 */
.nav {
  position: relative;
  width: 1000px;
  height: 100%;
  background-color: blueviolet;
}
/* 메인메뉴 */
.gnb {
  position: absolute;
  top: 25px;
  right: 30px;
  width: 600px;
  height: 50px;
  display: flex;
  background-color: rgb(212, 212, 250);
  z-index: 9;
}
/* .gnb > li {
  width: 600px;
} */
.gnb > li > a {
  width: calc(600px / 4);
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  background-color: azure;
}
.gnb > li:hover > a {
  background-color: black;
  color: #fff;
}
/* 서브메뉴 전체 나옴 */
/* .gnb:hover .depth2{
    display: block;
} */
.gnb > li:hover .depth2 {
  display: block;
}
/* 서브메뉴 */
.depth2 {
  background-color: aquamarine;
  text-align: center;
  display: none;
}
.depth2 > li > a {
  padding: 10px 0;
}
.depth2 > li:hover > a {
  background-color: blueviolet;
  color: #fff;
}
/* 비주얼 */
.slide {
  position: relative;
  width: 1200px;
  height: 300px;
  background-color: rgb(118, 243, 137);
}
.slide-all {
  width: 100%;
  height: 300px;
}
.slide-all > li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.slide-all > li > a {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slide-all > li > a > img {
  width: 100%;

  display: block;
}
.slide-all > li > a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  padding: 10px 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
/* 콘텐츠 */
.contents {
  width: 1200px;
  height: 200px;
  display: flex;
  background-color: rgb(125, 135, 198);
}
.contents > div {
  padding: 10px;
}
/* 공지사항/갤러리 */
/* .c{
  width: calc(100% / 3);
  height: 200px;
  background-color: aquamarine;
} */
.c1 {
  position: relative;
  width: calc(100% / 3);
  height: 200px;
  display: flex;
  align-items: flex-start;
  background-color: rgb(241, 249, 247);
}
.c1 h4 {
  width: 70px;
  line-height: 30px;
  text-align: center;
  background-color: rgb(247, 198, 198);
}
.c1 h4.on {
  background-color: chartreuse;
}
.c1 ul {
  position: absolute;
  width: calc(100% - 20px);
  top: 40px;
  left: 10px;
  display: none;
  padding: 10px;
}
.c1 ul.on {
  display: block;
}
/* 공지사항 */
.notice li {
  width: 100%;
}
.notice li:nth-child(even) {
  background-color: antiquewhite;
}
.notice li a {
  width: 100%;
  display: flex;
  /* gap: 30px; */
  justify-content: space-between;
  padding: 5px 0;
  font-size: 13px;

  border-bottom: 1px solid #ccc;
}
.notice-txt {
  width: 70%;
}

/* 갤러리 */
.gal {
  width: calc(100% - 20px);

  display: flex;
  justify-content: space-between;
  background-color: aquamarine;
}
/* 배너 */
.c2 {
  position: relative;
  width: calc(100% / 3);
  height: 200px;
  background-color: rgb(255, 189, 127);
  overflow: hidden;
}
.c2 a,
.c3 a {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.c2 a img,
.c3 a img {
  width: 100%;
}
.c2 a span,
.c3 a span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  padding: 10px 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}
/* 바로가기 */
.c3 {
  position: relative;
  width: calc(100% / 3);
  height: 200px;
  background-color: rgb(165, 127, 255);
}
/* 하단 */
.footer {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
/* ft-lo */
.ft-logo {
  width: 200px;
  height: 100%;
  padding: 10px;
  background-color: rgb(223, 208, 238);
}
.ft-logo a {
  line-height: 100px;
}
.ft-logo a img {
  width: 100%;
  filter: grayscale(1);
}
/* ft-copy */
.ft-copy {
  width: 900px;
  height: 100%;
}
.bottom_menu {
  width: 60%;
  line-height: 50px;
  display: flex;
  margin: auto;
  padding: 10px 0;
  /* background-color: aqua; */
}
.bottom_menu li {
  width: calc(100% / 3);
 
  line-height: 30px;
  text-align: center;
  border-right:1px solid #e55e5e ;
}

.ft-copy p {
  width: 100%;
  text-align: center;
  line-height: 50px;
}
